# Network Credentials
wifi_ssid_iot: "Sherbon_IoT"
wifi_password_iot: "ENTER_YOUR_IOT_PASSWORD_HERE"
wifi_fallback_password: "ENTER_A_BACKUP_PASSWORD_HERE"

# Home Assistant Integration
# To generate a key: esphome encryption_key
api_encryption_key: "ENTER_32_BYTE_BASE64_KEY_HERE"

# Update Credentials
ota_password: "ENTER_OTA_PASSWORD_HERE"

# Optional: If you use a fallback hotspot for troubleshooting
fallback_ap_ssid: "Sun-Porch-AC-Recovery"
